In [2]:
#importamos las bibliotecas que vamos a utilizar
import pandas as pd
import re

In [3]:
#Traemos el archivo con los datos a analizar
df = pd.read_csv('input/attacks.csv',encoding='latin-1')

In [4]:
df.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
df.shape

(25723, 24)

In [23]:
columnas_actuales=list(df.columns)

In [41]:
#He comprobado que son todaos los valores null menos 2, y en la columna Unnamed 22 todas menos 1. Eliminaremos las columnas, no aportan
df['Unnamed: 23'].isnull().sum()

25721

In [42]:
df['Unnamed: 22'].isnull().sum()

25722

Lo primero que vamos a hacer es renombrar las columnas para que no tengamos problemas con esos espacios

In [34]:
nombres_columnas=['Case', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time',
       'Species', 'Investigator_or_Source', 'pdf', 'href_formula', 'href',
       'Case_Number1', 'Case_Number2', 'original_order', 'Unnamed: 22',
       'Unnamed: 23']
type(nombres_columnas)

list

In [45]:
{k:v for k in columnas_actuales for v in nombres_columnas}

{'Case Number': 'Unnamed: 23',
 'Date': 'Unnamed: 23',
 'Year': 'Unnamed: 23',
 'Type': 'Unnamed: 23',
 'Country': 'Unnamed: 23',
 'Area': 'Unnamed: 23',
 'Location': 'Unnamed: 23',
 'Activity': 'Unnamed: 23',
 'Name': 'Unnamed: 23',
 'Sex ': 'Unnamed: 23',
 'Age': 'Unnamed: 23',
 'Injury': 'Unnamed: 23',
 'Fatal (Y/N)': 'Unnamed: 23',
 'Time': 'Unnamed: 23',
 'Species ': 'Unnamed: 23',
 'Investigator or Source': 'Unnamed: 23',
 'pdf': 'Unnamed: 23',
 'href formula': 'Unnamed: 23',
 'href': 'Unnamed: 23',
 'Case Number.1': 'Unnamed: 23',
 'Case Number.2': 'Unnamed: 23',
 'original order': 'Unnamed: 23',
 'Unnamed: 22': 'Unnamed: 23',
 'Unnamed: 23': 'Unnamed: 23',
 'Activity_clean': 'Unnamed: 23',
 'Genre_clean': 'Unnamed: 23'}

In [ ]:
dict_columnas={k:v for k in columnas_actuales for v in nombres_columnas}

In [31]:
df.rename(columns = dict_columnas, inplace = False)

,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23,...,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,Paddling,F
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,Standing,F
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,Surfing,M
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,Surfing,M
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,Free diving,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Hipótesis:
### El tiburón blanco es la raza de tiburón más peligrosa (mayor número de ataques)-->No lo hago
### Sus ataques son más frecuentes a mujeres
### La mayor parte de los ataques fueron producidos a surfistas

In [9]:
#Vamos a  buscar los tiburones blancos. No parece que merezca la pena analizar eso, los valores están muy diseminados
especies=str(df['Species '].unique())
df['Species '].value_counts()

White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        88
Tiger shark                                            73
                                                     ...
White shark, 7m                                         1
2.7 m [9'] shark with black-tipped pectoral fins        1
Bonita sharkk, 200-lb                                   1
1.8 m to 2.4 m [6' to 8'] "black finned shark"          1
4.5 to 5' shark                                         1
Name: Species , Length: 1549, dtype: int64

In [10]:
#De aquí sí se pueden sacar conclusiones
genero=str(df['Sex '].unique())
genero

"['F' 'M' nan 'M ' 'lli' 'N' '.']"

In [11]:
df['Sex '].value_counts()

M      5094
F       637
N         2
M         2
.         1
lli       1
Name: Sex , dtype: int64

In [18]:
df['Genre_clean']=df['Sex ']

In [20]:
df.Genre_clean=df.Sex .str.replace(r"(.*)M(.*)",'Surfing')

SyntaxError: invalid syntax (<ipython-input-20-706a58c815c1>, line 1)

In [12]:
#Veo si hay suficientes datos
actividad=str(df['Activity'].unique())
actividad

"['Paddling' 'Standing' 'Surfing' ...\n 'Crew swimming alongside their anchored ship' '4 men were bathing'\n 'Wreck of  large double sailing canoe']"

In [13]:
#Voy a intentar agrupar las actividades limpiándolas
df['Activity'].value_counts()

Surfing                                                       971
Swimming                                                      869
Fishing                                                       431
Spearfishing                                                  333
Bathing                                                       162
                                                             ...
Standing, collecting bananas                                    1
yachting accident                                               1
On expedition filming a feature movie & standing on tripod      1
Hunting turtle                                                  1
Swimming on sandbar adjacent to channel                         1
Name: Activity, Length: 1532, dtype: int64

In [14]:
df['Activity_clean']=df['Activity']

In [15]:
df.Activity_clean=df.Activity.str.replace(r"(.*)Surfing(.*)",'Surfing')

In [16]:
df['Activity_clean'].value_counts()

Surfing                                                       1026
Swimming                                                       869
Fishing                                                        431
Spearfishing                                                   333
Bathing                                                        162
                                                              ...
On expedition filming a feature movie & standing on tripod       1
Hunting turtle                                                   1
Copra vessel with 19 on board was wrecked in a squall            1
Fell overboard from the steamship Chala                          1
Fishing from dinghy                                              1
Name: Activity_clean, Length: 1497, dtype: int64

In [17]:
"""
 res=re.findall(r":.*<",line)
re.findall(r"From:.*",fh)
 """

'\n res=re.findall(r":.*<",line)\nre.findall(r"From:.*",fh)\n '